.container {
  border: 3px solid black;
  background-color: lightslategrey;
}

body {
  background-color: mediumaquamarine;
}

.form-control {
  border: black dotted;
}

.btn-padding {
  padding-bottom: 15px;
}
